.wordbank table {
  width: -webkit-fill-available;
}

.wordbank td {
  text-align: center;
  vertical-align: middle;
  border: solid 1px;
  background-color: rgb(75 85 99);
  color: rgb(229 231 235);
  font-weight: 600;
}

.wordbank th {
  padding: 1rem;
  border: solid 1px;
}