/* TODO: Find a way to update the span tag's style color.
#ffd6a5 (red) for unknown
#ffe895 (yellow) for unfamiliar
#c6dfff (skyblue) for familiar */

.bg-custom-red {
  background: #FD8A8A;
  border-radius: 5px;
  padding: 1px 4px;
}
.bg-custom-red:hover {
  filter: brightness(85%);
}

.bg-custom-yellow {
  background-color: #ffe895;
  border-radius: 5px;
  padding: 1px 4px;
}
.bg-custom-yellow:hover {
  filter: brightness(85%);
}

.bg-custom-skyblue {
  background-color: #c6dfff;
  border-radius: 5px;
  padding: 1px 4px;
}
.bg-custom-skyblue:hover {
  filter: brightness(85%);
}

span:hover {
  cursor: pointer;
  border: solid 1px black;
  padding: 1px 3px;
}
