/* TODO: Find a way to update the span tag's style color.
#ffd6a5 (red) for unknown
#ffe895 (yellow) for unfamiliar
#c6dfff (skyblue) for familiar */

.bg-custom-red {
  background: #B82D2D;
  border-radius: 5px;
  padding: 1px 4px;
}

.bg-custom-red:hover {
  filter: brightness(85%);
}

.bg-custom-yellow {
  background-color: #417E44;
  border-radius: 5px;
  padding: 1px 4px;
}

.bg-custom-yellow:hover {
  filter: brightness(85%);
}

.bg-custom-skyblue {
  background-color: #4475A2;
  border-radius: 5px;
  padding: 1px 4px;
}

.bg-custom-skyblue:hover {
  filter: brightness(85%);
}

#word-container p {
  font-size: 1.75rem;
}

#word-container span {
  padding: 1px 4px;
  margin: 2px;
  line-height: 2em;
  font-weight: 500;
}

#word-container span:hover {
  cursor: pointer;
  border: solid 1px black;
  border-radius: 5px;
  padding: 1px 3px;
}