/* TODO: Find a way to update the span tag's style color.
#ffd6a5 (orange) for unknown
#ffe895 (yellow) for unfamiliar
#c6dfff (skyblue) for familiar */

.bg-custom-orange {
  background: #ffd6a5;
  border-color: white;
  border-radius: 5px;
  padding: 1px 4px;
}
.bg-custom-yellow {
  background-color: #ffe895;
  border-color: white;
  border-radius: 5px;
  padding: 1px 4px;
}
.bg-custom-skyblue {
  background-color: #c6dfff;
  border-color: white;
  border-radius: 5px;
  padding: 1px 4px;
}

span:hover {
  filter: brightness(90%);
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;

  cursor: pointer;
}